.blur ( @value ) {
	.property( filter, blur( @value ) );
}

.box-shadow( @type, @h-shadow, @v-shadow, @blur, @spread, @color ) {
	.property( box-shadow, @type @h-shadow @v-shadow @blur @spread @color );
}

.box-shadow-inset( @h-shadow, @v-shadow, @blur, @spread, @color ) {
	.box-shadow( inset, @h-shadow, @v-shadow, @blur, @spread, @color );
}

.brightness ( @value ) {
	.property( filter, brightness( @value ) );
}

.center-vertical {
	top:		50%;
	.property( transform, translateY( -50% ) );
}

.clean () {
	border:			0;
	border-radius:	0;
	line-height:	100%;
	margin:			0;
	padding:		0;
	overflow:		hidden;
	
	.property( box-shadow, none );
}

.effectDarkenBlur( @blur, @brightness ) {
	.property( filter, blur( @blur ) brightness( @brightness ) );
}

.effectZoomRotate ( @scale, @rotate ) {
	.property( transform, rotate( @rotate ) scale( @scale ) );
}

// TODO: Check
.font-smoothing {
	@font-smoothing:		antialiased;

	-webkit-font-smoothing:	@font-smoothing;
	-moz-font-smoothing:	@font-smoothing;
	font-smoothing:			@font-smoothing;
}

.link ( @color-base, @color_hover ) {
	color:	@color-base;

	&:hover,
	&:focus {
		color:				@color_hover;
		text-decoration:	none;

		.transition( .1s );
	}

	&:active {
		color:	@color_hover;
	}
}

.opacity ( @opacity ) {
	opacity:	@opacity;
}

.property( @property, @value ) {
	@{property}:			@value;
	-moz-@{property}:		@value;
	-ms-@{property}:		@value;
	-o-@{property}:			@value;
	-webkit-@{property}:	@value;
}

.rotate ( @value ) {
	.property( transform, rotate( @value ) );
}

.scale ( @value ) {
	.property( transform, scale( @value ) );
}

.transition ( @duration ) {
	.property( transition, all @duration ease-in-out );
}